@page "/"
@using RezoFrontend.Service
@inject TitleService TitleService

@code {

    protected override void OnInitialized()
    {
        TitleService.SetTitle("Home");
    }

}

<h1>Hello, world!</h1>

Welcome to your new app.